
.view_1__base_con{
	max-width: 400px;
	min-width: 200px;
	//background-color: orange;
	margin: 0 auto;
}


.view_1__con_INPUT{
	padding: 40px 0px 0px 0px;
	width: 100%;
	//background-color: blue;
}

.view_1__con_INPUT > input{
	box-sizing: border-box;	
	width: 100%;
}

















