
h1{
	color: #e88245;
}


body{
	background-color: #282e3a;
}


.view_1__con_H1{
	width: 100%;
	padding: 140px 0px 0px 0px;
	text-align: center;
	//background-color: blue;
}

.view_1__con_H1 > h1{
	margin-bottom: 0px !important;
}


.view_1__con_H2{
	width: 100%;
	padding: 20px 0px 20px 0px;
	text-align: center;
	//background-color: red;
}

.view_1__con_H2 > h2{
	font-size: 14px;
	margin: 0px !important;
	color: #6e8dca;
	font-weight: 400 !important;
	font-style: italic;
}
















